@import '../../mixins';

.banner-button {
	@include flex(center, flex-start, row);
	position: absolute;
	left: 1467px;
	z-index: 2;

	@media (max-width: 900px) {
		left: 580px;
	}

	button {
		@include flex(center, flex-start, row);
		border: none;
	}

	span {
		@include fonts(normal, 900, 18px, 17px);
		font-family: 'FS Elliot Pro', sans-serif;
		text-transform: uppercase;
		color: #F2F0FF;
		margin-right: 62px;
		z-index: 1;

		@media (max-width: 900px) {
			@include fonts(normal, normal, 12px, 16px);
			margin-right: 30px;
		}
	}

	&__gifts {
		background: rgba(95, 177, 123, 0.7);
		opacity: 0.9;
		backdrop-filter: blur(7px);
		border-radius: 7px;
		padding: 21px 16px 21px 25px;
		margin-right: 11px;

		@media (max-width: 900px) {
			border-radius: 5px;
			padding: 6px 6px;
			margin-right: 7px;
		}

		img {
			@media (max-width: 900px) {
				width: 15px;
			}
		}

		span {
			margin-right: 32px !important;

			@media (max-width: 900px) {
				margin-right: 5px !important;
			}
		}
	}

	&__badge {
		@media (max-width: 900px) {
			width: 5px !important;
		}
	}

	&__events {
		background: rgba(112, 117, 234, 0.7);
		backdrop-filter: blur(7px);
		border-radius: 7px;
		padding: 16px 25px;

		@media (max-width: 900px) {
			border-radius: 5px;
			padding: 6px 6px;
		}

		img {
			@media (max-width: 900px) {
				width: 15px;
			}
		}
	}
}
