@font-face {
	font-family: "Gotham";
	src: url("../assets/fonts/Gotham/gotham_book.otf") format("opentype");
}

@font-face {
	font-family: "DIN Pro";
	src: url("../assets/fonts/DIN/dinpro_medium.otf") format("opentype");
}

@font-face {
	font-family: "FS Elliot Pro";
	src: url("../assets/fonts/FS_Elliot/FSElliotPro.ttf") format("truetype");
}
