@import '../../mixins';

.info-social {
	@include flex(stretch, space-between, row);
	margin-bottom: 15px;
	margin-left: 16px;

	@media (max-width: 900px) {
		margin: 4px 4px 3px 4px;
		position: relative;
		order: 1;
	}
}
